<!-- app/views/shared/_hero_banner.html.erb -->
<div class="relative isolate px-6 pt-14 lg:px-8">
  <%= render 'shared/background_decor', position: :top %>

  <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
    <% if announcement %>
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        <div class="relative rounded-full px-3 py-1 text-sm/6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
          <%= announcement[:text] %> <%= link_to announcement[:link_text], announcement[:link_url], class: "font-semibold text-indigo-600" %>
        </div>
      </div>
    <% end %>

    <div class="text-center">
      <h1 class="text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl"><%= title %></h1>
      <p class="mt-8 text-lg font-medium text-gray-500 sm:text-xl/8"><%= subtitle %></p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <%= link_to primary[:text], primary[:url], primary[:html_options] %>
        <%= link_to secondary[:text], secondary[:url], secondary[:html_options] %>
      </div>
    </div>
  </div>

  <%= render 'shared/background_decor', position: :bottom %>
</div>
